* {
  box-sizing: border-box;
}
h1 {
  margin-bottom: 15px;
  text-align: center;
}

p {
  width: 90%;
  height: 200px;
  margin-top: 40px;
  margin-right: auto;
  margin-left: auto;
  font-family: Helvetica;
  color: white;
  overflow: auto;
  position: relative;
}

span {
  font-size: 20px;
  width: 150px;
  border: 1px solid black;
  font-weight: bold;
  text-align: center;
  float: right; 
  top: 0; 
  right: 0; 
  margin: 0;
  position: absolute;
}

.section { 
    background-color: gray;
    border: 2px solid black;
    margin: 10px; 
    padding: 3px;
    text-align: justify;
    position: relative;
 }

#sushi {
  background-color: green;
  color: black;
}
#chicken {
  background-color: yellow;
  color: black;
}
#beef {
  background-color: red;
  color: black;
}

/* Simple Responsive Framework. */
.row {
  width: 100%;
}

/********** Large devices only **********/
@media (min-width: 992px) {
  .col-lg-4 {
    width: 33.33%;
    float: left;
  }
}
 
/********** Medium devices only **********/
@media (min-width: 768px) and (max-width: 991px) {
  .col-md-6 {
    width: 50%;
    float: left;
  }
  .col-md-12 {
    width: 100%;
    float: left;
  }
}
